Repository origam/origam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Correct packages linked
  backend/Origam.DA.Service/Origam.DA.Service.csproj
  backend/Origam.Server/Origam.Server.csproj
Owners: @tvavrda, @washibana, @JindrichSusen

refactor: resolve obsolete API warnings
  backend/.editorconfig
  backend/Origam.Common/DataDocumentFx.cs
  backend/Origam.Common/XmlTools.cs
  backend/Origam.DA.Service/AbstractDataService.cs
  backend/Origam.DA.Service/DatasetTools.cs
  backend/Origam.DA.Service/OrigamFile/XmlLoading/OrigamXmlLoader.cs
  backend/Origam.DA.Service/OrigamFile/XmlLoading/XmlFileDataFactory.cs
  backend/Origam.Docker/DockerManager.cs
  backend/Origam.Server/Controller/AbstractController.cs
  backend/Origam.Server/Controller/ExcelExportController.cs
  backend/Origam.Server/Controller/UIServiceController.cs
  backend/Origam.Server/Pages/StandardHttpRequestWrapper.cs
  backend/Origam.Server/ServerCoreUIService.cs
Owners: @tvavrda, @washibana, @JindrichSusen

Added references to custom-built mini profiler
  backend/EnterpriseLibrary/MiniProfiler.AspNetCore.Mvc.dll
  backend/EnterpriseLibrary/MiniProfiler.AspNetCore.dll
  backend/EnterpriseLibrary/MiniProfiler.Minimal.dll
  backend/EnterpriseLibrary/MiniProfiler.Shared.dll
  backend/Origam.DA.Service/Origam.DA.Service.csproj
  backend/Origam.Rule/Origam.Rule.csproj
  backend/Origam.Server/Origam.Server.csproj
  backend/Origam.Workflow/Origam.Workflow.csproj
Owners: @tvavrda, @washibana, @JindrichSusen

Added missing MiniProfiler call
  backend/Origam.Workflow/Engine.cs
Owners: @tvavrda, @washibana, @JindrichSusen

Disposing of objects improved
  backend/Origam.DA.Service/AbstractSqlDataService.cs
  backend/Origam.Workflow/Engine.cs
Owners: @tvavrda, @washibana, @JindrichSusen

Unused project removed
  backend/Origam.Docker/DockerContainerParameter.cs
  backend/Origam.Docker/DockerManager.cs
  backend/Origam.Docker/OperatingSystem.cs
  backend/Origam.Docker/Origam.Docker.csproj
  backend/Origam.ProjectAutomation/Builders/DataDatabaseStructureBuilder.cs
  backend/Origam.ProjectAutomation/Origam.ProjectAutomation.csproj
  backend/Origam.sln
  backend/OrigamArchitect/OrigamArchitect.csproj
  backend/OrigamSetup/ArchitectSetup.wxs
Owners: @tvavrda, @washibana, @JindrichSusen

Remove duplicate lines
  architect-html/src/components/editors/GetEditor.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Redundant call to Execute removed
  backend/Origam.Workflow/Engine.cs
Owners: @tvavrda, @washibana, @JindrichSusen

Type or member is obsolete warnings fixed or suppressed
  backend/Origam.Gui.Designer/ControlSetEditor.cs
  backend/Origam.Gui.Designer/impls/DesignerHostImpl.cs
  backend/Origam.Gui.Designer/impls/DesignerTransactionImpl.cs
  backend/Origam.Gui.Designer/impls/SelectionServiceImpl.cs
  backend/Origam.Gui.Designer/impls/ToolboxPane.cs
  backend/Origam.Rule/RuleEngine.cs
  backend/Origam.Rule/XpathEvaluator.cs
  backend/Origam.Rule/Xslt/DataReaderXPathNavigator.cs
  backend/Origam.Rule/Xslt/MicrosoftXsltEngine.cs
  backend/Origam.Rule/XsltFunctions/LegacyXsltFunctionContainer.cs
  backend/Origam.Windows.Editor/GIT/DiffInfoMargin.cs
  backend/Origam.Workbench.Services/ParameterService.cs
  backend/Origam.Workbench/Commands/SchemaCommands.cs
Owners: @tvavrda, @washibana, @JindrichSusen

Fixed failing test
  backend/Origam.Rule/XsltFunctions/LegacyXsltFunctionContainer.cs
  backend/Origam.RuleTests/XsltTests.cs
Owners: @tvavrda, @washibana, @JindrichSusen

scope where "obsolete" warnings are disabled was narrowed
  backend/Origam.Common/DataDocumentFx.cs
Owners: @tvavrda, @washibana, @JindrichSusen

redundant variable removed
  backend/Origam.Common/XmlTools.cs
Owners: @tvavrda, @washibana, @JindrichSusen

Refactor UIStates + Add Vim settings
  architect-html/src/components/packages/PackagesState.ts
  architect-html/src/stores/RootStore.ts
  architect-html/src/stores/UiState.ts
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Refactor SaveButton
  architect-html/src/components/saveButton/SaveButton.module.scss
  architect-html/src/components/saveButton/SaveButton.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Add SettingsButton
  architect-html/src/components/settingsButton/SettingsButton.module.scss
  architect-html/src/components/settingsButton/SettingsButton.tsx
  architect-html/src/components/topBar/TopBar.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Add SettingsModal + fix UIState
  architect-html/src/components/packages/PackagesState.ts
  architect-html/src/components/settingsButton/SettingsModal.module.scss
  architect-html/src/components/settingsButton/SettingsModal.tsx
  architect-html/src/stores/RootStore.ts
  architect-html/src/stores/UiState.ts
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Localization for Settings button + modal
  architect-html/public/locale/localization_en-US.json
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Refactor SettingsModal to use central dialogStack
  architect-html/src/components/settingsButton/SettingsButton.module.scss
  architect-html/src/components/settingsButton/SettingsButton.tsx
  architect-html/src/components/settingsButton/SettingsModal.tsx
  architect-html/src/stores/UiState.ts
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

FIX: Improves XSLT editor property handling + missing tab label (#3435)
  architect-html/src/components/editors/xsltEditor/XsltEditor.tsx
  backend/Origam.Architect.Server/Services/PropertyEditorService.cs
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

FEATURE: Linux and Windows server images do work with postgresql (#3437)
  docker/Dockerfile.windows-server-core
  docker/DockerfileServer.linux
  docker/server/_OrigamSettings.postgres.template
  docker/server/_OrigamSettings.template
  docker/server/linux/configureScheduler.sh
  docker/server/linux/configureServer.sh
  docker/server/linux/fill_origam_settings_config.sh
  docker/server/windows/Utils.ps1
Owners: @tvavrda, @washibana, @JindrichSusen

DEV: Resolve obsolete API warnings (#3439)
  backend/.editorconfig
  backend/Origam.Common/DataDocumentFx.cs
  backend/Origam.Common/XmlTools.cs
  backend/Origam.DA.Service/AbstractDataService.cs
  backend/Origam.DA.Service/DatasetTools.cs
  backend/Origam.DA.Service/OrigamFile/XmlLoading/OrigamXmlLoader.cs
  backend/Origam.DA.Service/OrigamFile/XmlLoading/XmlFileDataFactory.cs
  backend/Origam.Docker/DockerContainerParameter.cs
  backend/Origam.Docker/DockerManager.cs
  backend/Origam.Docker/OperatingSystem.cs
  backend/Origam.Docker/Origam.Docker.csproj
  backend/Origam.Gui.Designer/ControlSetEditor.cs
  backend/Origam.Gui.Designer/impls/DesignerHostImpl.cs
  backend/Origam.Gui.Designer/impls/DesignerTransactionImpl.cs
  backend/Origam.Gui.Designer/impls/SelectionServiceImpl.cs
  backend/Origam.Gui.Designer/impls/ToolboxPane.cs
  backend/Origam.ProjectAutomation/Builders/DataDatabaseStructureBuilder.cs
  backend/Origam.ProjectAutomation/Origam.ProjectAutomation.csproj
  backend/Origam.Rule/RuleEngine.cs
  backend/Origam.Rule/XpathEvaluator.cs
  backend/Origam.Rule/Xslt/DataReaderXPathNavigator.cs
  backend/Origam.Rule/Xslt/MicrosoftXsltEngine.cs
  backend/Origam.Rule/XsltFunctions/LegacyXsltFunctionContainer.cs
  backend/Origam.RuleTests/XsltTests.cs
  backend/Origam.Server/Controller/AbstractController.cs
  backend/Origam.Server/Controller/ExcelExportController.cs
  backend/Origam.Server/Controller/UIServiceController.cs
  backend/Origam.Server/Pages/StandardHttpRequestWrapper.cs
  backend/Origam.Server/ServerCoreUIService.cs
  backend/Origam.Windows.Editor/GIT/DiffInfoMargin.cs
  backend/Origam.Workbench.Services/ParameterService.cs
  backend/Origam.Workbench/Commands/SchemaCommands.cs
  backend/Origam.sln
  backend/OrigamArchitect/OrigamArchitect.csproj
  backend/OrigamSetup/ArchitectSetup.wxs
Owners: @tvavrda, @washibana, @JindrichSusen

Redundant comments removed
  backend/Origam.Server/Startup.cs
Owners: @tvavrda, @washibana, @JindrichSusen

DEV: add apllication role to view the profiler result
  model-root/model/Security/.origamPackage
  model-root/model/Security/DeploymentVersion/Security/5.4.5.origam
  model-root/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___2d2ee75e-f666-48ac-a49f-7edcf6414a70.txt
  model-root/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___ae7f00cb-e8c5-447d-a63d-b8884fb308e4.txt
  model-tests/model/Security/.origamPackage
  model-tests/model/Security/DeploymentVersion/Security/5.4.5.origam
  model-tests/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___094ec8ed-8d79-46f2-9153-22d0f6f52d23.txt
  model-tests/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___df90f350-e3dd-4cfe-a8b1-ce8e021e863b.txt
Owners: @tvavrda, @washibana

Role renamed
  backend/Origam.Server/Startup.cs
Owners: @tvavrda, @washibana, @JindrichSusen

FEATURE: Add settings to architect-html (#3448)
  architect-html/public/locale/localization_en-US.json
  architect-html/src/components/packages/PackagesState.ts
  architect-html/src/components/saveButton/SaveButton.module.scss
  architect-html/src/components/saveButton/SaveButton.tsx
  architect-html/src/components/settingsButton/SettingsButton.module.scss
  architect-html/src/components/settingsButton/SettingsButton.tsx
  architect-html/src/components/settingsButton/SettingsModal.module.scss
  architect-html/src/components/settingsButton/SettingsModal.tsx
  architect-html/src/stores/RootStore.ts
  architect-html/src/stores/UiState.ts
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

DEV: Miniprofiler integration (#3438)
  backend/EnterpriseLibrary/MiniProfiler.AspNetCore.Mvc.dll
  backend/EnterpriseLibrary/MiniProfiler.AspNetCore.dll
  backend/EnterpriseLibrary/MiniProfiler.Minimal.dll
  backend/EnterpriseLibrary/MiniProfiler.Shared.dll
  backend/Origam.DA.Service/AbstractSqlDataService.cs
  backend/Origam.DA.Service/Origam.DA.Service.csproj
  backend/Origam.Rule/Origam.Rule.csproj
  backend/Origam.Rule/RuleEngine.cs
  backend/Origam.Rule/Xslt/AbstractXsltEngine.cs
  backend/Origam.Server/Configuration/StartUpConfiguration.cs
  backend/Origam.Server/Origam.Server.csproj
  backend/Origam.Server/Startup.cs
  backend/Origam.Workflow/Engine.cs
  backend/Origam.Workflow/Origam.Workflow.csproj
  model-root/model/Security/.origamPackage
  model-root/model/Security/DeploymentVersion/Security/5.4.5.origam
  model-root/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___2d2ee75e-f666-48ac-a49f-7edcf6414a70.txt
  model-root/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___ae7f00cb-e8c5-447d-a63d-b8884fb308e4.txt
  model-tests/model/Security/.origamPackage
  model-tests/model/Security/DeploymentVersion/Security/5.4.5.origam
  model-tests/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___094ec8ed-8d79-46f2-9153-22d0f6f52d23.txt
  model-tests/model/Security/DeploymentVersion/Security/5.4.5.origam___commandText___df90f350-e3dd-4cfe-a8b1-ce8e021e863b.txt
Owners: @tvavrda, @washibana, @JindrichSusen

Refactor CodeEditor into a separate component + Add Vim mode
  architect-html/src/components/editors/codeEditor/CodeEditor.module.scss
  architect-html/src/components/editors/codeEditor/CodeEditor.tsx
  architect-html/src/components/editors/xsltEditor/XsltEditor.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Fix Vim initialization (callback)
  architect-html/src/components/editors/codeEditor/CodeEditor.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

BUILD: Updated template references in Architect and win-nano dockers
  docker/Dockerfile.windows-nano
  docker/DockerfileArchitect.linux
Owners: @tvavrda, @washibana, @JindrichSusen

Fix imports
  architect-html/src/components/editors/GetEditor.tsx
  architect-html/src/components/editors/codeEditor/CodeEditor.tsx
  architect-html/src/components/editors/xsltEditor/XsltEditor.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

Fix scss imports
  architect-html/src/components/editors/codeEditor/CodeEditor.tsx
  architect-html/src/components/editors/xsltEditor/XsltEditor.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

FEATURE: Add Vim mode (#3449)
  architect-html/src/components/editors/GetEditor.tsx
  architect-html/src/components/editors/codeEditor/CodeEditor.module.scss
  architect-html/src/components/editors/codeEditor/CodeEditor.tsx
  architect-html/src/components/editors/xsltEditor/XsltEditor.tsx
Owners: @tvavrda, @washibana, @JindrichSusen, @Hxn

RecordCreated and RecordUpdated were inconsistent after copy
  backend/Origam.DA.Service/DatasetTools.cs
Owners: @tvavrda, @washibana, @JindrichSusen

.github/CODEOWNERS:

* @tvavrda @washibana
/backend/ @tvavrda @washibana @JindrichSusen
/frontend-html/ @tvavrda @washibana @JindrichSusen
/architect-html/ @tvavrda @washibana @JindrichSusen @Hxn
/test/ @tvavrda @washibana @JindrichSusen
/docker/ @tvavrda @washibana @JindrichSusen
